<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


<div class="container">
    <h1>Add product here:</h1>
    <form action="/products/add" method="POST" enctype="multipart/form-data" >
        <input type="text" name="title" placeholder="Title:">
        <input type="text" name="description" placeholder="Description:">
        <input type="text" name="price" placeholder="Price:">
        <input type="text" name="category" placeholder="Categories:">
        <input type="text" name="quantity" placeholder="Quantity:">      
        <label for="imagePath">Enter image Link/URL</label>
        <input type="file" name="imagePath">
        <button type="submit" class="waves-effect waves-light btn-small">Add Product</button>
    </form>
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
  />
</div>
