<%- include("partials/headerin") -%>
    <h1>Welcome to my Shop</h1>
    <br><br>
    <a href="/">Home</a>
    <a href="/users/register">Register New User</a>
    <br><br><br>
    <a href="/users/logout">Logout</a>
<%- include("partials/footer") -%>