/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1200px;
}
/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
  /*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  border-right: 5px;
  color: rgb(7, 39, 49);
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase
}

.btn-alt{
border: 1px solid rgb(98, 41, 41);
padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}
/*
  ========================================
  Home
  ========================================
*/
.hero {
  padding: 22px 80px 66px 80px;
}
/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
    content: "";
    display: table;
    }
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer small {
  float: left;
}
.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}

.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background: #d1c4c4;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4 {
  color: #7a732f;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}
/*
  ========================================
  Links
  ========================================
*/
a {
  color: #7aa13b;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.logo {
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}
.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}
.primary-footer {
  color: #888164;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}
.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
.hero h2 {
    font-size: 36px;
    }
  .hero p {
    font-size: 24px;
    font-weight: 100;
  }
  .teaser a:hover h3 {
    color: #a9b2b9;
  }
/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  padding-top:40px ;
  text-align: right;
}
.primary-header a,
.primary-footer a {
  color: #fff;
  }
.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}
/*
  ========================================
  Rows
  ========================================
*/
/* .row,
.row-alt
{
  min-width: 960px;
} */
.row {
  background: #fff;
  padding: 22px 0 44px 0;
}
.row-alt{
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

/* New */
.myflex {
  display: flex;
  flex-wrap: wrap;
}

.image-size {
  padding: 0 30px;
  height: 250px;
}

.small-img {
  height: 44px;
  width: 44px;
}
.none {
  display: none;
}

.white a {
  color: #fff !important;
}

.myimg {
  vertical-align: middle;
  border-style: none;
  object-fit: contain;
  height: 300px !important;
}